<div id="<%= dom_id rank_check %>">
  <p>
    <strong>Url:</strong>
    <%= rank_check.url %>
  </p>

  <p>
    <strong>Keyword:</strong>
    <%= rank_check.keyword %>
  </p>

  <p>
    <strong>Gsp rank:</strong>
    <%= rank_check.gsp_rank %>
  </p>

  <p>
    <strong>Get date:</strong>
    <%= rank_check.get_date %>
  </p>

  <p>
    <strong>Zone type:</strong>
    <%= rank_check.zone_type %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= rank_check.site_id_id %>
  </p>

</div>
