<div>
  <%= link_to "クエリを追加", new_query_path %> |
</div>

<div class="queries">
    <% @sites.each do |site| %>
        <table class="table01" width="800">
            <thead>
                <tr>
                    <th width="200"><%= site.name %></th>
                    <th width="250">URL</th>
                    <th width="250">検知URL</th>
                    <th width="65">GS1P<br>最新順位</th>
                    <th width="65">週前比較</th>
                    <th width="65">月前比較</th>
                    <% get_one_month.reverse.each do |date| %>
                        <th width="50"><%= date.strftime("%m/%d") %></th>
                    <% end %>
                </tr>
            </thead>
            <% site.queries.each do |query| %>
                <tbody>
                    <tr>
                        <th width="200"><%= query.keyword %></th>
                        <td label="URL"><%= query.url %></td>
                        <td label="detection_url"><%= get_detection_url_last(query) %></td>
                        <td label="rank"><%= get_ranks_last(query) %></td>
                        <% week_ago = get_rank_comparison(query,get_one_week_ago) %>
                        <td label="rank" class="<%= plus_judge(week_ago) %>"><%= week_ago %></td>
                        <% month_ago = get_rank_comparison(query,get_one_month_ago) %>
                        <td label="rank" class="<%= plus_judge(month_ago) %>"><%= month_ago %></td>
                        <% get_one_month.reverse.each do |date| %>
                            <td label="rank"><%= date_to_search_gsp_rank(query.id,date) %></th>
                        <% end %>
                    </tr>
                </tbody>
            <% end %>
        </table>
    <% end %>
</div>