<div class="queries">
    <% @sites.each do |site| %>
        <table class="table01">
            <thead>
                <tr>
                    <th><%= site.name %></th>
                    <th>URL</th>
                    <th>GSP最新順位</th>
                    <% get_one_week.reverse.each do |date| %>
                        <th><%= date.strftime("%m/%d") %></th>
                    <% end %>
                </tr>
            </thead>
            <% site.queries.each do |query| %>
                <tbody>
                    <tr>
                        <th><%= query.keyword %></th>
                        <td label="URL"><%= query.url %></td>
                        <td label="rank"><%= query.ranks.last.gsp_rank if query.ranks.present?  %></td>
                        <% get_one_week.reverse.each do |date| %>
                            <td label="rank"><%= date_to_search_gsp_rank(query.id,date) %></th>
                        <% end %>
                    </tr>
                </tbody>
            <% end %>
        </table>
    <% end %>
</div>